<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="" value=""/>
      <add key="LoggerFile" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\Logger\bin\Debug"/>
      <add key="ExcelFilePath" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\AdditionalTaskWithExcel\excel\file.xlsx"/>
      <add key="FirstColumn" value="A"/>
      <add key="SecondColumn" value="B"/>
      <add key="TaskWithDirectories" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\TaskWithDirectories\Directory"/>
      <add key="OutputFile" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)"/>
      <add key="OutputFile" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)"/>
      <add key="InputFile" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)"/>
      <add key="TaskOfIOStream1" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\TaskOfIOStream"/>
      <add key="TaskOfIOStream2" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\TaskOfIOStream\dir1"/>
     
      

    </appSettings>
</configuration>