<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="" value=""/>
      <add key="DestFolder" value="C:\Users\Comp\Documents\Epam-offline-\EpamTasks(Offline part)\Logger\bin\Debug"/>

    </appSettings>
</configuration>